// FIXME set assets/styles as base dir
@import '../../../assets/styles/animations.scss';

.todo-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    margin: 8px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f9f9f9;
    box-shadow: 1px 1px 4px #888888;
    animation: $appearAnimation;

    &.removing {
        animation: $disappearAnimation;
    }

    &:not(:last-child) {
        margin-bottom: 0px;
    }

    h4 {
        margin: 8px 0;
    }

    .button-container {
        button {
            &.button {
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }
}